/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/app/globals.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

:root {
	--base-100: rgb(242, 237, 230);
	--base-200: rgb(204, 200, 194);
	--base-250: rgb(179, 167, 152);
	--base-300: rgb(153, 143, 130);
	--base-350: rgb(128, 119, 108);
	--base-400: rgb(102, 95, 86);
	--base-450: rgb(31, 29, 29);
	--base-500: rgb(20, 19, 19);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "DM Sans", sans-serif;
	background: black;
	position: relative !important;
	overflow: scroll !important;
	top: 0px !important;
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

h1 {
	/* text-transform: uppercase; */
	font-size: 6rem;
	font-weight: 600;
	line-height: 1;
}

h2 {
	font-size: 3rem;
	font-weight: 600;
	line-height: 1;
}

p {
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 500;
}

.main-wrapper {
	visibility: hidden;
}

.preloader,
.split-overlay,
.tags-overlay {
	position: fixed;
	width: 100vw;
	height: 100svh;
}

.preloader,
.split-overlay {
	background-color: var(--base-450);
	color: var(--base-300);
}

.preloader,
.tags-overlay {
	z-index: 2;
}

.split-overlay {
	z-index: 1;
}

.intro-title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	text-align: center;
}

.outro-title {
	position: absolute;
	top: 50%;
	left: calc(50% + 10rem);
	transform: translate(-50%, -50%);
}

.tag {
	position: absolute;
	width: max-content;
	color: #5a5a5a;
	overflow: hidden;
}

.tag-1 {
	top: 15%;
	left: 15%;
}

.tag-2 {
	bottom: 15%;
	left: 25%;
}

.tag-3 {
	bottom: 30%;
	right: 15%;
}

.container {
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 100svh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	-webkit-clip-path: polygon(0 48%, 0 48%, 0 52%, 0 52%);
	        clip-path: polygon(0 48%, 0 48%, 0 52%, 0 52%);
	z-index: 2;
	overflow: hidden;
}

.container .hero-img {
	position: absolute;
	width: 100%;
	height: 100%;
	scale: 1.2;
	background-color: rgb(49, 47, 47);
}

nav,
footer {
	position: relative;
	width: 100vw;
	padding: 15px 22px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: rgb(255, 255, 255);
	z-index: 2;
}

nav {
	display: flex;
	justify-content: space-between;
	padding: 15px;
}

nav p#logo {
	font-weight: 600;
	font-size: 19px;
	border-radius: 6px;
	padding: 5px 10px;
	margin-top: -15px;
	margin-left: -10px;
	/* border: 0.5px solid rgba(37, 36, 36, 0.321); */
	/* background: linear-gradient(145deg, #a15e2a75, #584a3d41); */
	/* box-shadow: inset 0px 0px 3px 2px rgba(49, 48, 48, 0.359); */
	-webkit-backdrop-filter: blur(15px);
	        backdrop-filter: blur(15px);
}

nav p#menu {
	font-weight: 500;
	font-size: 16px;
}

nav p {
	cursor: pointer;
	color: rgb(255, 255, 255);
}

.menu-wrapper {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 35px;
	gap: 46px;
	width: 30%;
	max-width: 180px;
}

.card {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	min-width: 1000px;
	min-height: 450px;
	max-width: 1450px;
	display: flex;
	justify-content: flex-end;
	border-radius: 12px;
	text-align: right;
	align-items: flex-end;
	-webkit-clip-path: polygon(0% 50%, 100% 50%, 100% 50%, 0% 50%);
	        clip-path: polygon(0% 50%, 100% 50%, 100% 50%, 0% 50%);
	gap: 15px;
	font-family: "Arimo", sans-serif;
}

.card-wrapper-left {
	-webkit-backdrop-filter: blur(5px);
	        backdrop-filter: blur(5px);
	box-shadow: inset 0px 0px 2px 1px rgba(207, 207, 207, 0.658);
	padding: 2rem 20px 20px;
	border-radius: 12px;
	/* border: 0.5px solid rgb(231, 231, 231); */
}
.card-wrapper-left,
.card-wrapper-right {
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	text-align: right;
	align-items: flex-end;
	width: 60%;
	gap: 15px;
	height: 60vh;
}

.card-wrapper-right {
	width: 40%;
}

.card-inner p {
	text-shadow: 0px 0px 1px black;
	/* color: black; */
	font-weight: 400 !important;
}

.card-inner {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
	height: 100%;
	-webkit-backdrop-filter: blur(5px);
	        backdrop-filter: blur(5px);
	/* border: 0.5px solid rgb(231, 231, 231); */
	box-shadow: inset 0px 0px 2px 1px rgba(207, 207, 207, 0.658);
	padding: 20px;
	border-radius: 12px;
}

.card-wrapper-right .card-inner {
	-webkit-backdrop-filter: blur(25px);
	        backdrop-filter: blur(25px);
	background-color: rgba(74, 74, 74, 0.09);
}

.card-inner:nth-child(2) {
	height: -moz-fit-content;
	height: fit-content;
	background-color: rgba(74, 74, 74, 0.172);
}

.card-inner:nth-child(2) .chip2 {
	margin-top: 30px;
}

.container-stars {
	width: 100px;
	display: flex;
	justify-content: space-between;
	margin: 5px auto 5px auto;
}
.container-stars img {
	width: 18px;
	filter: brightness(0.3);
}

.reviews {
	gap: 10px;
	align-items: center;
	text-align: center;
}

.avatar {
	width: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 7px;
}

.avatar img {
	width: 10vh;
	height: 10vh;
	border-radius: 50px;
}
.button-wrapper {
	display: flex;
	margin-top: 20px;
	gap: 28px;
}

.card-raised {
	flex: 4 1;
	height: 100%;
	display: flex;
	padding: 1rem;
	gap: 0px;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	border-radius: 12px;
}
.card-aside-raised {
	flex: 2 1;
	height: 100%;
	display: flex;
	padding: 1rem;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	border-radius: 12px;
	background: linear-gradient(145deg, #313233, #1a1a1c);
	box-shadow: 4px 4px 16px var(--shadow-dark),
		-4px -4px 16px var(--shadow-light);
}

.card .char span {
	position: relative;
	display: inline-block;
	transform: translateY(100%);
	will-change: transform;
}

.intro-title .char,
.outro-title .char,
.card .char {
	position: relative;
	display: inline-block;
	overflow: hidden;
}

.intro-title .char,
.outro-title .char {
	margin-top: 0.75rem;
}

.intro-title .char span,
.outro-title .char span,
.tag .word {
	position: relative;
	display: inline-block;
	transform: translateY(-100%);
	will-change: transform;
}

.intro-title .first-char {
	transform-origin: top left;
}

.intro-discover-wrapper p {
	font-size: 18px !important;
}

.intro-discover-wrapper {
	position: absolute;
	bottom: 0px;
	left: 50%;
	transform: translate(-50%);
	color: var(--base-300);
	background-color: black;
	height: 40px;
	padding: 10px;
}

.row {
	display: flex;
	flex-direction: column;
	text-align: center;
	gap: 7px;
}

@media (max-width: 1000px) {
	h1 {
		font-size: 2.5rem;
	}

	.avatar img {
		height: 50px;
		width: 50px;
	}
	.avatar {
		width: 200px;
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 10px;
	}

	.container-stars {
		margin: 0 auto 0;
	}

	.card-wrapper-right .card-inner {
		align-items: flex-start;
	}

	.card-wrapper-right .card-inner div {
		margin: 5px auto 0px 0;
	}

	.card-wrapper-right .card-inner:nth-child(2) {
		display: none;
	}
	.card-wrapper-left {
		width: 100%;
		padding: 1rem;
	}

	.outro-title {
		left: calc(50% + 4rem);
	}

	.container .hero-img {
		scale: 2;
	}
	.card {
		width: 90%;
		height: -moz-fit-content;
		height: fit-content;
		flex-direction: column;
		min-width: unset !important;
		min-height: unset !important;
		padding: 1.5rem;
		max-height: unset;
		align-items: flex-start;
	}

	.card h1 {
		font-size: 2.5rem;
	}

	.card-wrapper-left,
	.card-wrapper-right {
		align-items: flex-start;
		height: -moz-fit-content;
		height: fit-content;
		width: 100%;
	}

	.intro-title .char,
	.outro-title .char {
		margin-top: 0.5rem;
	}

	.button-wrapper {
		display: flex;
		flex-direction: column;
		margin-top: auto;
		gap: 10px;
		width: 100%;
		margin-top: 20px;
	}
	.button-wrapper div {
		width: 100%;
		font-size: 15px !important;
	}

	nav,
	footer {
		position: relative;
		padding: 0.5rem 0.8rem;
		justify-content: space-between;
		align-items: center;
		z-index: 2;
	}

	footer p {
		font-size: 10px !important;
	}

	.menu-wrapper {
		justify-content: flex-end;
	}
}

@media (max-height: 790px) and (min-width: 1000px) {
	.avatar {
		width: 100%;
		display: flex;
		flex-direction: row-reverse;
		text-align: right;
		align-items: center;
	}
	.avatar img {
		height: 60px;
		width: 60px;
	}

	.row {
		text-align: right;
	}

	.sub {
		margin-bottom: 0 !important;
	}
}

/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/app/extra-globals.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Libre+Caslon+Display&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--bg-color: linear-gradient(145deg, #313233, #1a1a1c);
	--bg-color2: linear-gradient(145deg, #313233, #1a1a1c);
	--card-bg-color: linear-gradient(145deg, #d2dff4a5, #c0f6ed4a);
	--text-color: #838585;
	--line-color: #4a4a4a;
	--text-sub-color: rgb(129, 128, 128);
	--text-body-color: #817f7f;
	--shadow-light: #2e2c2c;
	--shadow-dark: #000000;
	--highlight: #6fc3df;
}
/* :root {
	--bg-color2: linear-gradient(145deg, #d1d7f3dc, rgba(200, 246, 246, 0.582));
	--bg-color: linear-gradient(145deg, #bcceeaa5, #c0f6ed4a);
	--card-bg-color: linear-gradient(145deg, #d2dff4a5, #c0f6ed4a);
	--text-color: #3b3f3f;
	--text-sub-color: #404245;
	--text-body-color: #cccccc;
	--line-color: rgb(190, 190, 190);
	--shadow-light: #ffffff;
	--shadow-dark: #9f9f9f;
	--highlight: #6fc3df;
} */

/* --bg-color: linear-gradient(145deg, #d2dff4, rgba(227, 250, 247, 0.666));
	--bg-color2: linear-gradient(145deg, #d1d7f3dc, rgba(250, 250, 250, 0.582)); */

/* --bg-color: linear-gradient(145deg, #d2dff4, rgba(193, 246, 237, 0.666));
	--bg-color2: linear-gradient(145deg, #77a4f2dc, rgba(78, 237, 237, 0.582));
	--bg-color: linear-gradient(145deg, #7ebaeedc, rgba(78, 237, 237, 0.582)); */

body[data-theme="dark"] {
	--bg-color2: linear-gradient(145deg, #d1d7f3dc, rgba(200, 246, 246, 0.582));
	--bg-color: linear-gradient(145deg, #bcceeaa5, #c0f6ed4a);
	--card-bg-color: linear-gradient(145deg, #d2dff4a5, #c0f6ed4a);
	--text-color: #d2dff4;
	--text-sub-color: #ebf1fc;
	--text-body-color: #cccccc;
	--line-color: rgb(190, 190, 190);
	--shadow-light: #ffffff;
	--shadow-dark: #9f9f9f;
	--highlight: #6fc3df;
}
/* body[data-theme="dark"] {
	--bg-color: linear-gradient(145deg, #313233, #1a1a1c);
	--bg-color2: linear-gradient(145deg, #313233, #1a1a1c);
	--card-bg-color: linear-gradient(145deg, #d2dff4a5, #c0f6ed4a);
	--text-color: #292b2b;
	--line-color: #4a4a4a;
	--text-sub-color: rgb(76, 75, 76);
	--text-body-color: #090909;
	--shadow-light: #1e1d1d;
	--shadow-dark: #000000;
	--highlight: #6fc3df;
} */

.nextjs-toast {
	display: none;
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.project {
	opacity: 0;
	transform: translateY(50px);
}
.header {
	opacity: 0;
	transform: translateY(20px);
}
.aside {
	opacity: 0;
	transform: translateY(20px);
}

a {
	text-decoration: none;
}

.nav-logo a {
	font-family: "Barlow Condensed", sans-serif;
	font-size: 1.25rem;
	font-weight: 700;
}

.nav-links {
	display: flex;
	gap: 2rem;
}

.container {
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 100svh;
	background: var(--bg-color);
}

.page-header {
	width: 100vw;
	height: 100svh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem;
}

.archive {
	width: 30%;
	margin: 0 auto;
	padding: 15rem 2rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.archive img {
	aspect-ratio: 5/7;
}

.transition-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100svh;
	display: flex;
	pointer-events: none;
	z-index: 2;
}

.block {
	flex: 1 1;
	height: 100%;
	background: #ebf7f8;
	transform: scaleX(0);
	transform-origin: left;
}

.logo-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100svh;
	z-index: 10000;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #ebf7f8;
	pointer-events: none;
	opacity: 0;
}

.logo-container {
	width: 200px;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

.char {
	position: relative;
	display: inline-block;
	will-change: transform;
}

.no-bg {
	background: transparent !important;
}

.text-dark {
	color: var(--text-color) !important;
}

.hide-mobile {
	display: inline-block;
}

.wrapper-main {
	overflow: hidden;
	margin: 0;
	font-family: "Segoe UI", sans-serif;
	background: linear-gradient(145deg, #77a4f2dc, #4eeded94);
	background: rgb(197, 236, 251);
	height: 100vh;
	min-height: 685px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	/* transition: background 0.4s ease; */
	position: relative;
	color: rgb(79, 77, 79);
	/* opacity: 0; */
}

.container-center-t {
	display: flex;
	justify-content: center;
	width: 45%;
	margin-top: -2vh;
	gap: 16px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.container-center-b {
	/* position: absolute; */
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-top: 50px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.form-container {
	background: var(--bg-color);
	padding: 2rem;
	border-radius: 20px;
	box-shadow: 8px 8px 16px var(--shadow-dark),
		-8px -8px 16px var(--shadow-light);
	width: 100%;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: box-shadow 0.4s;
}

.project-container {
	background: var(--bg-color);
	padding: 1.8rem;
	border-radius: 20px;
	box-shadow: 8px 8px 16px var(--shadow-dark),
		-8px -8px 16px var(--shadow-light);
	width: 40vw;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: box-shadow 0.4s;
}

.intro-container {
	/* background: var(--bg-color); */
	padding: 2rem;
	border-radius: 20px;
	box-shadow: 6px 6px 16px var(--shadow-dark),
		-6px -6px 16px var(--shadow-light), inset 6px 6px 16px var(--shadow-dark),
		inset -6px -6px 16px var(--shadow-light);
	width: 30vw;
	margin-left: -20vw;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	transition: box-shadow 0.4s;
}

.container-image {
	flex: 1 1;
	display: flex;
	overflow: hidden;
	height: 100%;
	width: 100%;
}

.bg-image {
	scale: 1.3;
	transform: translateX(200px);
	object-fit: cover;
	animation: loading 80s linear infinite;
}

/* .rotate{
 animation: loading 3s linear infinite;
} */
@keyframes loading {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

.desktop-hide {
	display: none;
}

.text-color {
	color: #bfd3f2;
}

.logo-text {
	/* color: var(--text-color); */
	text-align: center;
	font-size: 7vw;
	margin-bottom: -15px;
}

.right-40 {
	margin-right: 45px;
}

.headline {
	color: white;
	font-size: clamp(35px, 6vw, 50px);
	margin-bottom: -7px;
	margin-top: auto;
}

.period {
	font-size: 1.5rem;
}

.subtitle {
	color: white;
	font-size: min(30px, 2.5vw);
	text-transform: none !important;
	line-height: 120%;
	font-weight: 300;
	margin-bottom: 60px;
}

.body-text {
	color: white;
	text-shadow: 0px 0px 1px black;
	font-weight: 500 !important;
	font-size: 18px;
	line-height: 130%;
	text-transform: none !important;
	letter-spacing: 0.3px;
}

.name {
	font-size: 20px;
}

.sub {
	font-size: 20px;
	margin-top: -10px;
	margin-bottom: 10px;
	color: rgb(213, 213, 213);
}

.subtitle-transition {
	color: #f1f2e1;
	font-family: "Segoe UI", sans-serif;
	font-size: min(35px, 2.5vw);
	text-transform: uppercase;
}

.plain-text {
	font-size: 1vw;
}

.soft-text {
	text-shadow: 2px 2px 5px var(--shadow-dark), -2px -2px 7px var(--shadow-light);
}

.soft-h-text {
	text-shadow: 2px 1px 2px var(--shadow-dark), -2px -1px 2px var(--shadow-light);
	letter-spacing: 1px;
}

.soft-s-text {
	text-shadow: 1px 1px 3px var(--shadow-dark), -1px -1px 1px var(--shadow-light);
	letter-spacing: 1px;
}

.soft-p-text {
	text-shadow: 2px 1px 1px var(--shadow-dark);
}

.toggle-container {
	display: flex;
	margin: auto;
	width: -moz-fit-content;
	width: fit-content;
	position: absolute;
	right: 25px;
	gap: 15px;
	top: 6px;
}

.corner-right-t {
	position: absolute;
	right: 20px;
	top: 13px;
}

.corner-right-b {
	position: absolute;
	right: 20px;
	bottom: 13px;
}

.corner-left-t {
	position: absolute;
	left: 20px;
	top: 13px;
}

.corner-left-b {
	position: absolute;
	left: 20px;
	bottom: 13px;
}

.center-t {
	position: absolute;
	left: 48%;
	transform: translate(-48%, 0);
	margin: 0 auto;
	top: 13px;
}

.center-b {
	position: absolute;
	left: 48.5%;
	transform: translate(-48.5%, 0);
	margin: 0 auto;
	bottom: 13px;
}

.vertical-line {
	height: 42px;
	width: 3px;
	top: 7px;
	margin: 0 10px;
	background-color: var(--text-color);
	box-shadow: 1px 1px 1px var(--shadow-dark), -1px -1px 1px var(--shadow-light);
	position: relative;
	display: inline-block;
	font-stretch: ultra-condensed;
}

.aside-right {
	border-left: 0.5px solid var(--line-color);
	width: 20%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container-right {
	width: 100%;
	height: 60%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 20px;
}

.container-left-t {
	width: 100%;
	height: 60%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-top: 30%;
}

.container-left-b {
	position: absolute;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	bottom: 50px;
	left: 20px;
}

.aside-left {
	width: 15%;
	height: 100vh;
	display: flex;
	margin-left: 20px;
}

.block1 {
	border-bottom: 0.5px solid rgb(209, 212, 214);
	font-size: 30px;
	padding: 10px;
	height: 100px;
	display: flex;
	align-items: flex-end;
}

.horizontal-line-t {
	width: 100%;
	position: absolute;
	border-bottom: 0.5px solid var(--line-color);
	height: 1px;
	top: 45px;
}

.horizontal-line-b {
	width: 100%;
	position: absolute;
	border-bottom: 0.5px solid var(--line-color);
	height: 1px;
	bottom: 45px;
}

.circle {
	border-radius: 25px;
	height: 40px;
	width: 40px;
	border: 0.5px solid var(--line-color);
	box-shadow: inset 1px 2px 6px var(--shadow-dark),
		inset -1px -2px 6px var(--shadow-light);
}

.chip,
.chip2 {
	display: flex;
	align-items: center;
	justify-content: center;
	width: -moz-fit-content;
	width: fit-content;
	height: 38px;
	margin-top: auto;
	border-radius: 6px;
	border: 1px solid rgba(235, 235, 235, 0.519);
	background: var(--base-100);
	color: rgb(67, 46, 28);
	font-size: 17px;
	font-weight: 600;
	cursor: pointer;
	padding: 10px 20px;
	line-height: 100%;
	position: relative;
	overflow: hidden;
	/* letter-spacing: 0.3px; */
	text-transform: uppercase;
}

.chip2 {
	/* height: 34px; */
}

@keyframes buttonShine {
	0% {
		transform: translateX(-300px) skewX(20deg);
	}
	50% {
		transform: translateX(-300px) skewX(20deg);
	}
	50.1% {
		transform: translateX(-300px) skewX(20deg);
	}
	100% {
		transform: translateX(300px) skewX(20deg);
	}
}

.chip:after {
	content: "";
	position: absolute;
	width: 18px;
	height: 40px;
	background: #f2f2f2;
	transform: translateX(300px) skewX(20deg);
	animation: 3.5s ease-in-out infinite buttonShine;
	z-index: 20;
}
.chip2:after {
	content: "";
	position: absolute;
	width: 18px;
	height: 40px;
	background: #f2f2f2;
	transform: translateX(300px) skewX(20deg);
	animation: 3.5s ease-in-out 0.5s infinite buttonShine;
	z-index: 20;
}

@media (max-width: 1000px) {
	.headline {
		font-size: clamp(32px, 3vw, 40px) !important;
	}

	.subtitle {
		font-size: clamp(20px, 2vw, 25px) !important;
		text-transform: uppercase;
		letter-spacing: 0;
		font-weight: 400;
		margin-bottom: 80px;
	}

	.body-text {
		font-size: 16px;
		letter-spacing: 0px;
		text-align: left !important;
	}

	.container-left-t,
	.container-left-b {
		display: none;
	}

	.container-center-t {
		display: flex;
		justify-content: center;
		position: absolute;
		top: 100px;
		left: 50%;
		transform: translateX(-50%);
		width: 90%;
		gap: 11px;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	.aside-right {
		border-left: none;
		width: 52%;
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
	}

	.container-right {
		width: 100%;
		height: 50%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		gap: 24px;
	}

	.project-container {
		background: var(--bg-color);
		padding: 1.2rem;
		border-radius: 20px;
		box-shadow: 8px 8px 12px var(--shadow-dark),
			-4px -5px 12px var(--shadow-light);
		width: 90vw;
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		transition: box-shadow 0.4s;
	}

	.plain-text {
		font-size: max(12px, 2.4vw);
		max-width: 85vw;
	}

	.logo-text {
		text-align: center;
		font-size: max(45px, 8vw);
		margin-bottom: -5px;
	}

	.mobile-hide {
		display: none;
	}

	.desktop-hide {
		display: block;
	}

	.corner-left-t {
		position: absolute;
		left: 20px;
		top: 17px;
	}

	.corner-left-b {
		bottom: 17px;
	}

	.corner-right-b {
		display: none;
	}

	.center-t {
		top: 17px;
		display: none;
	}

	.center-b {
		bottom: 17px;
		left: unset;
		right: -40px;
	}

	.soft-text {
		text-shadow: 2px 1px 2px var(--shadow-dark),
			-2px -1px 3px var(--shadow-light);
	}

	.soft-h-text {
		text-shadow: 1px 1px 1px var(--shadow-dark),
			-1px -1px 1px var(--shadow-light);
		letter-spacing: 1px;
	}

	.horizontal-line-t,
	.horizontal-line-b {
		border-bottom: 0.5px solid rgba(246, 246, 246, 0.747);
		top: 47px;
	}
}

.toggle,
.theme-switch {
	text-align: center;
	margin-bottom: 20px;
}

#formToggle,
#themeToggle {
	display: none;
}

.switch,
.theme-btn {
	display: inline-block;
	width: 70px;
	height: 34px;
	border-radius: 50px;
	background: var(--bg-color);
	position: relative;
	box-shadow: inset 4px 4px 8px var(--shadow-dark),
		inset -4px -4px 8px var(--shadow-light);
	cursor: pointer;
}

.switch i,
.theme-btn i {
	position: absolute;
	left: 10px;
	top: 10px;
	font-size: 16px;
	color: var(--highlight);
	transition: transform 0.3s ease;
}

#formToggle:checked + .switch i {
	transform: translateX(30px);
}

#themeToggle:checked + .theme-btn i {
	transform: translateX(38px) rotate(180deg);
	color: grey;
}

form {
	display: none;
	flex-direction: column;
	gap: 15px;
	transform: translateX(0);
	opacity: 1;
	transition: transform 0.5s ease, opacity 0.5s ease;
}

form.active {
	display: flex;
}

h2 {
	/* text-align: center; */
	margin-bottom: 15px;
}

.input-group {
	position: relative;
}

.input-group input {
	width: 100%;
	padding: 12px 12px 12px 16px;
	border-radius: 15px;
	border: none;
	background: var(--bg-color);
	box-shadow: inset 4px 4px 8px var(--shadow-dark),
		inset -4px -4px 8px var(--shadow-light);
	color: var(--text-color);
}

.input-group input:focus {
	outline: none;
	box-shadow: 0 0 8px var(--highlight);
}

.input-group label {
	position: absolute;
	left: 16px;
	top: 12px;
	color: #888;
	font-size: 14px;
	transition: 0.3s;
	pointer-events: none;
}

.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label {
	top: -8px;
	left: 12px;
	font-size: 12px;
	background: var(--bg-color);
	padding: 0 4px;
}

button {
	outline: none;
	border: none;
}

.social-login {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	gap: 18px;
}

.social-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	font-size: 14px;
}

.social-btn i {
	font-size: 16px;
	transition: transform 0.3s ease;
}

.social-btn:hover i {
	transform: scale(1.3);
}

.toast {
	position: fixed;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	background: var(--highlight);
	color: #fff;
	padding: 10px 20px;
	border-radius: 10px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	display: none;
	z-index: 1000;
}

/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/components/Footer/Footer.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.footer {
	position: relative;
	width: 100vw;
	height: 100%;
	display: flex;
	flex-direction: column;
	padding: 1rem;
	gap: 1rem;
}

.footer .footer-meta {
	position: relative;
	width: 100%;
	height: 100%;
	color: var(--base-300);
	border-radius: 2rem;
	padding: 4rem 0;
}

.footer .footer-meta .footer-container.footer-meta-header {
	margin-bottom: 4rem;
}

.footer .footer-meta .footer-container.footer-meta-header,
.footer .footer-meta .footer-container.footer-socials {
	display: flex;
	gap: 2rem;
}

.footer .footer-meta .footer-container.footer-meta-header .footer-meta-col,
.footer .footer-meta .footer-container.footer-socials .footer-meta-col {
	flex: 1 1;
}

.footer
	.footer-meta
	.footer-container.footer-meta-header
	.footer-meta-col:nth-child(1) {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.footer
	.footer-meta
	.footer-container.footer-meta-header
	.footer-meta-col:nth-child(2)
	.footer-nav-links {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	text-align: right;
}

.footer-nav-links a {
	color: var(--base-300);
}

.footer .footer-meta .footer-container.footer-meta-header .footer-meta-logo {
	color: var(--base-100);
	margin-bottom: 1rem;
}

.footer
	.footer-meta
	.footer-container.footer-meta-header
	.footer-meta-block
	h2 {
	width: 80%;
	text-align: left !important;
}

.footer
	.footer-meta
	.footer-container.footer-socials
	.footer-meta-col:nth-child(2) {
	display: flex;
	justify-content: flex-end;
	text-align: right;
}

.footer
	.footer-meta
	.footer-container.footer-socials
	.footer-meta-col:nth-child(2)
	p {
	width: 50%;
}

.footer .footer-socials-wrapper {
	display: flex;
	gap: 0.25rem;
}

.footer .footer-socials-wrapper .icon {
	width: 4rem;
	height: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid var(--base-400);
	border-radius: 10rem;
	font-size: 1.25rem;
}

.footer .footer-socials p {
	color: var(--base-400);
}

.footer-outro .footer-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	color: var(--base-300);
	overflow: hidden;
}

.footer .footer-outro .footer-header {
	margin-bottom: 2rem;
}

.footer-copyright {
	display: flex;
	gap: 2rem;
}

.footer-copyright p {
	flex: 1 1;
	color: var(--base-400);
}

.footer-copyright p span {
	color: var(--base-100);
}

.footer-copyright p:nth-child(2) {
	display: flex;
	text-align: center;
	justify-content: center;
}

.footer-copyright p:nth-child(3) {
	display: flex;
	justify-content: flex-end;
	text-align: right;
}

.lg {
	font-size: 1.25rem;
	font-weight: 500;
	line-height: 1.4;
}

@media (max-width: 1000px) {
	.footer .footer-meta .footer-container.footer-meta-header,
	.footer .footer-meta .footer-container.footer-socials {
		flex-direction: column;
		gap: 4rem;
	}

	.footer
		.footer-meta
		.footer-container.footer-meta-header
		.footer-meta-col:nth-child(2)
		.footer-nav-links,
	.footer
		.footer-meta
		.footer-container.footer-socials
		.footer-meta-col:nth-child(2) {
		justify-content: flex-start;
		text-align: left;
	}

	.footer
		.footer-meta
		.footer-container.footer-socials
		.footer-meta-col:nth-child(2)
		p {
		width: 100%;
	}

	.footer .footer-meta .footer-container.footer-meta-header {
		margin-bottom: 0;
	}

	.footer .footer-meta-header .footer-meta-col:nth-child(2) {
		display: none;
	}

	.footer-copyright {
		flex-direction: column-reverse;
		gap: 0.25rem;
	}

	.footer-copyright p:nth-child(2) {
		display: none;
	}

	.footer-copyright p:nth-child(3) {
		display: flex;
		justify-content: flex-start;
		text-align: left;
	}
}

/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/components/Copy/Copy.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
.line {
  position: relative;
  transform: translateY(100%);
  will-change: transform;
  padding-bottom: 0.2em;
  margin-bottom: -0.2em;
}

