/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/components/Menu/Menu.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
.menu-container {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 100;
	pointer-events: none;
}

.menu-bar {
	position: fixed;
	top: 0;
	width: calc(100% - 4em);
	height: 74px;
	margin: 2em auto;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	background: rgba(0, 0, 0, 0.2);
	-webkit-backdrop-filter: blur(15px);
	        backdrop-filter: blur(15px);
	border-radius: 1rem;
	overflow: hidden;
	pointer-events: all;
	z-index: 100000;
	overflow: visible !important;
	visibility: hidden;
	left: 50%;
	transform: translate(-50%);
}

.show-menu {
	display: none;
}

.menu-bar-container {
	display: flex;
	background-color: transparent;
	width: 100%;
	height: 74px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 0 0.7em 0.1em 1em;
}

.menu-logo a {
	position: relative;
	display: inline-block;
	top: 0;
}
.menu-logo img {
	width: 150px;
	margin-bottom: 10px;
}

.menu-items {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 70%;
	max-width: 900px;
	margin-right: 20px;
}

.menu-item a {
	/* color: var(--bg); */
}

.menu-actions {
}

.menu-toggle {
	width: 60px;
	height: 60px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.hamburger-icon {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	outline: none;
	height: 40px;
	width: 60px;
	border-radius: 0.6rem;
	background: rgba(0, 0, 0, 0);
	transition: all 300ms;
}

.hamburger-icon:hover {
	background: rgba(255, 255, 255, 0.2);
}

.hamburger-icon:before,
.hamburger-icon:after {
	content: "";
	position: absolute;
	width: 24px;
	height: 1.5px;
	background: #fff;
	transition: all 300ms ease-in-out;
	transition-delay: 150ms;
	/* will-change: transform; */
}

.hamburger-icon:before {
	transform: translateY(0px) rotate(45deg);
}

.hamburger-icon:after {
	transform: translateY(0px) rotate(-45deg);
}

/* .active.hamburger-icon:before {
	transform: translateY(0) rotate(0deg);
}

.active.hamburger-icon:after {
	transform: translateY(0) rotate(0deg);
} */

.menu {
	position: absolute;
	top: 0;
	left: 0;
	width: calc(100% - 4em);
	height: calc(100svh - 4em);
	background: transparent;
	border-radius: 1rem;
	overflow: hidden;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
	        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
	z-index: 100000;
	margin: 2em;
}

.menu-link-item {
	position: relative;
	padding: 1em 0 0.125em 0;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
	        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
	text-align: center;
	pointer-events: all;
}

.menu-link-item .menu-link-item-holder {
	position: relative;
	will-change: transform;
}

.menu-link-item .menu-link-item-holder a {
	position: relative;
	color: white;
	font-family: "Arial";
	font-size: 5vw;
	text-transform: none;
	letter-spacing: -0.01em;
	line-height: 100%;
	transition: color 0.3s;
}

.menu-link-item .menu-link-item-holder:hover a {
	color: rgba(255, 255, 255, 1);
}

@media (max-width: 1000px) {
	.menu {
		width: calc(100% - 2.5em);
		height: calc(100svh - 2.5em);
		margin: 1.25em;
	}

	.menu-bar {
		margin: 1.25em auto;
		width: calc(100% - 2.5em);
	}

	.menu-actions {
	}

	.menu-items {
		display: none;
	}

	.menu-toggle {
		justify-content: flex-end;
	}

	.menu-col {
		width: 100%;
		flex-direction: column;
	}

	.menu-link-item .menu-link-item-holder a {
		font-size: 10vw;
	}
}

/*!************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/components/Spotlight/Spotlight.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************/
.spotlight {
	position: relative;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.spotlight-outline {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 1rem solid var(--base-500);
	border-radius: 3rem;
	z-index: 2;
}

.spotlight-outline::after {
	content: "";
	position: absolute;
	top: -1rem;
	left: -1rem;
	width: 100%;
	height: 100%;
	border: 1rem solid var(--base-500);
	z-index: 1;
}

.spotlight-inner {
	position: relative;
	width: calc(100% - 2rem);
	height: calc(100% - 2rem);
	overflow: hidden;
	border-radius: 2rem;
	background-color: var(--base-450);
}

.spotlight-intro-text-wrapper {
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	gap: 0.5rem;
}

.spotlight-intro-text {
	flex: 1 1;
	position: relative;
	will-change: transform;
	color: var(--base-300);
}

.spotlight-intro-text p {
	font-size: 2.5rem;
}

.spotlight-intro-text:nth-child(1) {
	display: flex;
	justify-content: flex-end;
}

.spotlight-bg-img {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	transform: scale(0);
	will-change: transform;
	border-radius: 2rem;
	opacity: 0.65;
}

.spotlight-bg-img img {
	transform: scale(1.5);
	will-change: transform;
}

.spotlight-titles-container {
	position: absolute;
	top: 0;
	left: 15vw;
	width: 100%;
	height: 100%;
	overflow: hidden;
	-webkit-clip-path: polygon(
		50svh 0px,
		0px 50%,
		50svh 100%,
		100% calc(100% + 100svh),
		100% -100svh
	);
	        clip-path: polygon(
		50svh 0px,
		0px 50%,
		50svh 100%,
		100% calc(100% + 100svh),
		100% -100svh
	);
	--before-opacity: 0;
	--after-opacity: 0;
}

/* .spotlight-titles-container::before,
.spotlight-titles-container::after {
	content: "";
	position: absolute;
	width: 100svh;
	height: 1px;
	background: var(--base-100);
	pointer-events: none;
	transition: opacity 0.3s ease;
	z-index: 10;
}

.spotlight-titles-container::before {
	top: 0;
	left: 0;
	transform: rotate(-60deg) translate(-7rem);
	opacity: var(--before-opacity);
}

.spotlight-titles-container::after {
	bottom: 0;
	left: 0;
	transform: rotate(60deg) translate(-7rem);
	opacity: var(--after-opacity);
} */

.spotlight-titles {
	position: relative;
	left: 15%;
	width: 75%;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 5rem;
	transform: translateY(100%);
	z-index: 2;
}

.spotlight-titles h1 {
	color: var(--base-100);
	opacity: 0.35;
	transition: opacity 0.3s ease;
	font-size: 4rem;
	font-weight: 500;
	line-height: 1;
}

.spotlight-images {
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	min-width: 300px;
	height: 100%;
	z-index: 1;
	pointer-events: none;
}

.spotlight-img {
	position: absolute;
	width: 200px;
	height: 150px;
	will-change: transform;
	border-radius: 1rem;
	overflow: hidden;
}

.spotlight-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.spotlight-header {
	position: absolute;
	top: 50%;
	left: 10%;
	transform: translateY(-50%);
	color: var(--base-100);
	transition: opacity 0.3s ease;
	z-index: 2;
	opacity: 0;
}

.spotlight-header p {
	font-size: 1.25rem;
	font-weight: 500;
	line-height: 1;
	color: var(--base-100);
}

@media (max-width: 1000px) {
	.spotlight-titles,
	.spotlight-titles-container::before,
	.spotlight-titles-container::after {
		/* display: none; */
	}

	.spotlight-images {
		right: -4rem;
	}

	.spotlight-header {
		left: 5%;
	}

	.spotlight-header p {
		font-size: 1rem;
	}

	.spotlight-titles h1 {
		font-size: 2rem;
		line-height: 1;
	}
}

