.slider-slide {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	gap: 1vh;
	align-items: center;
	text-align: center;
}

.swiper {
	width: 100% !important;
}

.swiper-button-prev {
	background-color: #22222200;
	width: 50px;
	height: 16px;
	margin-left: -30px;
	color: rgb(168, 167, 167) !important;
}
.swiper-button-prev::after {
	font-size: 20px !important;
}

.swiper-button-next::after {
	font-size: 20px !important;
}

.swiper-button-next {
	background-color: #2f2e2e00;
	width: 50px;
	height: 19px;
	margin-right: -30px;
	color: rgb(168, 167, 167) !important;
}

.slide-text {
	max-width: 450px;
	line-height: 140%;
}

@media (max-width: 1300px) and (min-width: 1001px) {
	.slide-text {
		max-width: 450px;
		line-height: 130%;
	}
}

@media (max-width: 1000px) {
	.slider-slide p.body-text {
		width: 77vw;
		font-size: 14px;
	}

	.swiper-button-prev {
		display: none;
	}
	.slider-slide {
		align-items: flex-start;
		justify-content: flex-start;
		gap: 10px;
	}

	/* .swiper-button-next::after {
		margin-right: -10px;
	} */
}
