.slider-slide {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	gap: 1vh;
	align-items: center;
	text-align: center;
}

.swiper-button-prev {
	background-color: #22222200;
	width: 50px;
	height: 16px;
	margin-left: -20px;
	color: white !important;
}
.swiper-button-prev::after {
	font-size: 20px !important;
}

.swiper-button-next::after {
	font-size: 20px !important;
}

.swiper-button-next {
	background-color: #2f2e2e00;
	width: 50px;
	height: 19px;
	margin-right: -20px;
	color: white !important;
}

@media (max-width: 1000px) {
	.slider-slide p.body-text {
		width: 80vw;
	}

	.swiper-button-prev {
		display: none;
	}
	.slider-slide {
		align-items: flex-start;
		justify-content: flex-start;
		gap: 10px;
	}

	/* .swiper-button-next::after {
		margin-right: -10px;
	} */
}
